---
import Link from "@component/icons/Link.astro";
import Flex from "@component/utility/Flex.astro";
import Tooltip from "./Tooltip.astro";
import Verified from "@component/icons/Verified.astro";

/** Connection container component */
interface Props {
  /** A type of the connection + removed skype connection */
  type: Connection;
  /** Username from the connection used */
  username: string;
  /** URL of the connection, link icon won't be passed if no url passed */
  url?: string;
  /** Verified indicator metadata */
  verified?: boolean;
}

/** Labels for tooltips of each connection type */
const tooltipLabels = {
  "paypal": "PayPal",
  "reddit": "Reddit",
  "steam": "Steam",
  "skype": "Skype",
  "tiktok": "TikTok",
  "twitter": "Twitter",
  "ebay": "eBay",
  "crunchyroll": "Crunchyroll",
  "playstation-network": "PlayStation Network",
  "spotify": "Spotify",
  "xbox": "Xbox",
  "battle-net": "Battle.net",
  "epic-games": "Epic Games",
  "facebook": "Facebook",
  "github": "GitHub",
  "instagram": "Instagram",
  "league-of-legends": "League Of Legends",
  "riot-games": "Riot Games",
  "twitch": "Twitch",
  "youtube": "YouTube",
}

const { type, username, url, verified = false } = Astro.props;
---

<Flex align="center" justify="space-between" class="connection">
  <Flex align="center" gap={8}>
    <Tooltip label={tooltipLabels[type]}>
      <img
        src={`/connections/${type}.svg`}
        alt={`Connection - ${type}`}
        width={24}
        height={24}
        class="icon"
      />
    </Tooltip>
    <Flex align="center" gap={4}>
      <span class="username">{username}</span>
      {verified && <Verified />}
    </Flex>
  </Flex>
  {url && <Link href={url} />}
</Flex>
<style lang="sass">
  @use "src/styles/utils/conversion" as *
  @use "src/styles/theme/colors"
  @use "src/styles/theme/font"
  @use "src/styles/theme/rounding"
  @use "src/styles/theme/space"

  .connection
    padding: space.$md-12 space.$sm-8

    border-radius: rounding.$xs-4
    border: rem(1) solid colors.$divider

    .username
      font-size: font.$md-16
      font-weight: 600
</style>
